JGUM/obj/rider.project.model.nuget.info
JustGiveUpMan.sln.DotSettings.user
AGENTS.md
/JGUM/obj
/JGUM.MCMBridge/obj
/JGUM.MCMBridge/bin
/JGUM/bin
/JGUM.MCMBridge/bin
/JGUM.MCMBridge/bin
/JGUM.MCMBridge/obj
/JGUM/bin
/JGUM/obj
